#education{
  background-color: $color1;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 1.15em;

  .wrapper{
    padding-left: 13%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;

    ul{
      li{
        margin-left: 50px;
      }
    }
  }
}